In [1]:
list=[1,2,3]
print(list)

[1, 2, 3]

In [2]:
list.append(-99)
print(list)

[1, 2, 3, -99]

In [3]:
dict={'a':1, 'b':2, 'c':3}
dict.keys()

dict_keys(['a', 'b', 'c'])

In [4]:
dict.values()

dict_values([1, 2, 3])

In [5]:
import numpy as np
import pandas as pd

In [6]:
ser=pd.Series(['Red','Green','Yellow'])

In [7]:
ser

0       Red
1     Green
2    Yellow
dtype: object

In [8]:
ser=pd.Series(['Red','Green','Yellow'], index=['A','B','C'])

In [9]:
ser

A       Red
B     Green
C    Yellow
dtype: object

In [10]:
ser[1]

'Green'

In [11]:
df= pd.DataFrame([[1,2,4],[4,5,11],[12,15,3]],columns=['A','B','C'])

In [12]:
df

    A   B   C
0   1   2   4
1   4   5  11
2  12  15   3

In [13]:
df.to_csv('simple_2Dframe.csv', index=False)

In [14]:
df.head(2)

   A  B   C
0  1  2   4
1  4  5  11

In [15]:
df.loc[:,'A']

0     1
1     4
2    12
Name: A, dtype: int64

In [16]:
df.shape

(3, 3)

In [17]:
df.info

<bound method DataFrame.info of     A   B   C
0   1   2   4
1   4   5  11
2  12  15   3>

In [18]:
type(df)

pandas.core.frame.DataFrame